DATABASE_URL=postgresql://user:password@localhost:5432/mydb

# JWT Token signing and verification -- Generate SECRET_KEY with openssl rand -hex 32
SECRET_KEY=                                         
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=43200

# Create Google OAuth client
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Generate with openssl rand -hex 32. Used to sign session cookies.
SESSION_SECRET=

# "prod" | "dev"
DEPLOYMENT_TYPE=

# Production frontend or local dev server
FRONTEND_URL=
